@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

a {
    text-decoration: none !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
}

p {
    font-size: 19px;
}

/* section{
  padding:90px 0;
  overflow: hidden;
} */
.container {
    max-width: 1200px !important;
}

#about-me,
#skills,
#contact {
    background: #f2f7fe;
}

#about-me,
#services,
#experiance,
#contact,
#blogs,
#testimonial,
#portfolio,
#updates-list {
    padding: 90px 0;
}

#skills {
    padding-bottom: 90px;
}

#navbarNavDropdown ul li a {
    font-weight: 500;
    color: #00ffb8;
    font-size: 20px;
    white-space: nowrap;
    transition: 0.3s;
    margin-left: 15px;
}

.hero-section {
    margin-top: -60px;
    position: relative;
}

.hero-section .profile-pic img {
    width: 500px;
    position: absolute;
    top: 250px;
    left: 180px;
}

.hero-section .my-name {
    position: absolute;
    top: 400px;
    left: 767px;
}

.hero-part1 img {
    width: 100%;
    margin-top: 360px;
}

.hero-part2 img {
    width: 100%;
}

.my-name h2 {
    width: 500px;
    padding: 24px 20px 24px 72px;
    border-radius: 103px;
    background: var(--second-t-4, #92EDFA);
}

.my-name span {
    color: #FFF;
    font-size: 36px;
}

.my-name a {
    width: 120px;
    padding: 10px 28px;
    border-radius: 103px;
    background: var(--secondt-3, #FFF);
    color: #093CDC;
}

/**=================header for all the sections======================**/

#section-header {
    text-align: center;
    position: relative;
    margin-bottom: 65px;
}

#section-header .bar-image {
    height: 22px;
    position: absolute;
    top: 65px;
}

#section-header span {
    color: var(--primaryt-3, #161412);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

#section-header h2 {
    color: var(--primary-t-4, #093CDC);
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    z-index: 99;
}

#section-header .service-h2,
#section-header .testimonial-h2 {
    color: var(--second-t-4, #92EDFA);
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

#section-header .service-span,
#section-header .testimonial-span {
    color: var(--secondt-3, #FFF);
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.about-me p {
    padding: 0 75px;
    text-align: justify;
}

.skills .progressbar-all {
    width: 170px;
    height: 170px;
    background: #ffc107;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: center;
    border-radius: 50%;
}

.skills .progressbar-all:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
}

.skills .progressbar-value {
    position: relative;
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    top: 45%;
    font-weight: 700;
}

.skills .circle-progress h3 {
    text-align: center;
    padding-top: 25px;
}

.skills .skills-description {
    text-align: center;
}

.skills .skills-content .circle-progress {
    max-width: 200px;
}

.skills .skills-content .circle-progress h3 {
    word-wrap: break-word;
    font-size: 20px;
}

.services,
.testimonial {
    /*  background-image: url("../images/services-background.svg"); */
    background: #0a58ca;
}

.services .allservices-flex {
    text-align: center;
}

.services .allservices-flex h4 {
    color: var(--secondt-3, #FFF);
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    margin-top: 35px;
}

.services .allservices-flex span {
    color: var(--secondt-3, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
}

.services .btn-view-all {
    padding: 10px 30px;
    border-radius: 100px;
    background: var(--secondt-3, #FFF);
    justify-content: center;

}

.experiance .experiance-content h3 {
    color: var(--primaryt-3, #161412);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.experiance .experiance-content .eced-header {
    color: var(--primaryt-3, #161412);
    font-size: 24px;
    font-weight: 700;
}

.experiance .experiance-content .eced-header::after {
    content: '';
    width: 70px;
    height: 20px;
    background-color: rgba(146, 237, 250, 1);
}

.experiance .my-experiance {
    position: relative;
}



.experiance .experiance-content {
    margin-top: 100px;
}

.updates-list {
    background: #0a58ca;
    /*  background-image: url('../images/update-background.svg'); */
}

/* .testimonial .card-title {
    color: var(--second-t-4, #92EDFA);
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
}

.testimonial .testimonial-containt img {
    width: 150px;
    margin: auto;
} */


.blogs .card-blog {
    text-align: center;
    background-color: #fff;
    padding: 25px 25px 35px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.06);

}

.blogs .card-blog img {
    width: 350px;
    margin: auto;
    border-radius: 50%;
}

.blogs .card-body-blog {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}

.blogs .card-body-blog h5 {
    color: var(--primary-t-4, #093CDC);
    font-size: 28px;
    font-weight: 700;
}

.contact .container {
    padding: 0 250px;
    margin-top: 150px;
}

#header .header-scrolled {
    background: rgba(40, 58, 90, 0.9);
}

#footer {
    background-color: blue;
    text-align: center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}


.footer .copyright {
    text-align:center;
    color: white;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
    background-color: blue;
  }


#footer span,
#footer h4 {
    color: #FFF;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
}

.contact .btn-settings {
    border-radius: 30px;
    background: var(--primary-t-4, #093CDC);
    color: #fff;
    padding: 12px 24px;
    text-align: center;
}

.contact .contact-btn {
    text-align: center;
}

/**=================hero================*/
#hero {
    width: 100%;
    height: 80vh;
    background: #37517e;
}

#hero .welcome {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

#hero .welcome-subheading {
    color: rgba(255, 255, 255, 0.6);
    margin: 20px 0 40px 0;
    font-size: 20px;
}

#hero .container {
    padding-top: 60px;
}

#hero .btn-know-more {
    font-size: 17px;
    padding: 10px 15px;
    font-weight: 600;
    background: #1169e8;
    color: #fff;
    border-radius: 50px;
    margin-right: 25px;
    text-decoration: none;
}

#hero .btn-know-more:hover {
    background: #209dd8;
}

#hero .watch-here {
    display: flex;
    align-items: center;

    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

#hero .watch-here i {
    font-size: 30px;
    color: #fff;
    margin: 0 15px 0 5px;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .image-fluid {
    max-width: 100%;
    height: auto;
}

.updates-list .numb {
    width: 250px;
    text-align: center;
}

.updates-list .numb h2 {
    color: var(--secondt-3, #FFF);
    font-size: 90px;
    font-weight: 400;
}

.updates-list .numb span {
    color: var(--secondt-3, #FFF);
    font-size: 24px;
    font-weight: 500;
}

.portfolio .portfolio-filter .btn-all {
    border-radius: 30px;
    background: var(--primary-t-4, #093CDC);
    padding: 10px 24px;
    border: none;
    color: #fff;
}

.portfolio .portfolio-filter .btn-uiux,
.portfolio .portfolio-filter .btn-graphic {
    border-radius: 30px;
    border: 2px solid var(--primary-t-4, #093CDC);
    padding: 10px 24px;
    color: var(--primary-t-4, #093CDC);
    font-size: 18px;
    font-weight: 400;
}

.portfolio .portfolio-content .content {
    background-color: #0dcaf0;
    opacity: 0;
    width: 350px;
    height: 242px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0px;
    transition: .5s ease;
    padding: 52px;
    color: var(--primary-t-4, #093CDC);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.portfolio .port-img-con {
    position: relative;
}

.port-img-con:hover .content {
    opacity: 0.8;
}

.portfolio-filter-button .filter-btn li.active,
.portfolio-filter-button .filter-btn li:hover {
    background: var(--primary-t-4, #093CDC);
    color: #fff;
    border-color: transparent;
}

.portfolio-filter-button .filter-btn li {
    display: inline-block;
    padding: 10px 25px;
    margin: 0px 10px 10px;
    color: #555555;
    font-weight: 490;
    font-size: 18px;
    line-height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s;
}



.blogs .blogs-slider .slick-prev,
.blogs .blogs-slider .slick-next {
    border: none;
    color: #fff;
    padding: 8px 15px;
    background: #1364db;
    width: 100px;
    margin-top: 20px;

}

.blogs .blogs-slider .slick-prev {
    position: absolute;
    top: 430px;
    left: 35px;
}

.blogs .blogs-slider .slick-next {
    position: absolute;
    top: 430px;
    left: 160px;
}

/**============services slider buttons=================**/


.services .service-slider .slick-prev,
.services .service-slider .slick-next {
    border: none;
    color: #1364db;
    padding: 8px 15px;
    background: #fff;

}

.services .service-slider .slick-prev {
    position: absolute;
    top: 430px;
    left: 60px;
}

.services .service-slider .slick-next {
    position: absolute;
    top: 430px;
    left: 160px;
}

/**============portfolio slider buttons=================**/
.portfolio .slick-slider .slick-prev,
.portfolio .slick-slider .slick-next {
    border: none;
    color: #fff;
    padding: 8px 15px;
    background: #1364db;

}

.portfolio .slick-slider .slick-prev {
    position: absolute;
    top: 270px;
    left: 60px;
}

.portfolio .slick-slider .slick-next {
    position: absolute;
    top: 270px;
    left: 160px;
}

/**============testimonial slider buttons=================**/

/*

.testimonial .testimonial-slider .slick-prev,
.testimonial .testimonial-slider .slick-next {
    border: none;
    color: #1364db;
    padding: 8px 15px;
    background: #fff;

}

.testimonial .testimonial-slider .slick-prev {
    position: absolute;
    left: 60px;
}

.testimonial .testimonial-slider .slick-next {
    position: absolute;
    right: 20px;
} */











@media screen and (max-width: 480px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #hero .welcome {
        font-size: 27px;
    }

    #hero .welcome-subheading {
        font-size: 18px;
    }

    #types .types-image {
        max-width: 35%;
    }

    .hero-section .profile-pic img {
        display: none;
    }

    .hero-section .my-name {
        position: absolute;
        top: 205px;
        left: 260px;
    }

    .hero-section .hero-part1 img {
        display: none;
    }

    .about-me .aboutme-content {
        flex-direction: column;
    }

    .skills .skills-content {
        flex-direction: column;
    }

    .services .allservices-content {
        flex-wrap: wrap;
    }

    .experiance .ec-education {
        flex-wrap: wrap;
    }

    .experiance .ece-degree {
        width: 250px;
    }

    .contact .container {
        padding: 0;
        margin-top: 142px;
    }

    .updates-list .numb {
        width: 100px;
        text-align: center;
    }

    .updates-list .numb h2 {
        font-size: 60px;
    }

    .updates-list .numb span {
        font-size: 18px;
    }


    .portfolio .portfolio-filter .btn-uiux,
    .portfolio .portfolio-filter .btn-graphic {
        padding: 1px 12px;
        font-size: 14px;
    }

    .portfolio .portfolio-filter .btn-all {
        font-size: 14px;
        text-align: center;
        padding: 3px 20px;
    }

    #section-header span {
        color: var(--primaryt-3, #161412);
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
    }

    #section-header h2 {
        font-size: 35px;
    }

    #section-header .bar-image {
        height: 22px;
        position: absolute;
        top: 51px;
    }

    .experiance .experiance-content h3 {
        font-size: 30px;
    }

    .experiance .experiance-content .eced-header {
        font-size: 20px;
    }

    #section-header .service-h2 {
        color: var(--second-t-4, #92EDFA);
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .services .allservices-flex img {
        width: 210px;
    }

    .about-me img {
        width: 60%;
        text-align: center;
        margin: 0 150px;
    }

    .skills img {
        width: 60%;
        text-align: center;
        margin: 0 150px;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    #hero {
        height: 100vh;
        text-align: center;
    }

    #hero .hero-image {
        text-align: center;
    }

    .image-fluid {
        width: 100%
    }

    #whyus .whyus-list {
        padding: 0 0 30px 0;
    }

    #whyus .content {
        padding: 0;
    }

}

@media only screen and (max-width: 992px) {}

@media only screen and (min-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

    #whyus .whyus-list,
    #whyus .content {
        padding-left: 0;
        padding-right: 0;

    }

}



/* ist */
/*END SOCIAL PROFILE CSS*/
/* .copyright {
    margin-top: 70px;
    padding-top: 40px;
    color: #fff;
    font-size: 15px;
    /* border-top: 1px solid rgba(255, 255, 255, 0.4); */
    text-align: center;
} */

.copyright a {
    color: #01c7e9;
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: #ff3666;
}



.copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
